<a href="https://colab.research.google.com/github/anion-coder/antariksh/blob/main/antarikshlec1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: ignored

In [ ]:
s = 'Hello World'
s[-1]

'd'

In [ ]:
s[::-1]

'dlroW olleH'

In [ ]:
s= 'HELLO WORLD CONCATENATE ME!'
s.split('L') # so here i am specifying the letter used to split

['HE', '', 'O WOR', 'D CONCATENATE ME!']

In [ ]:
list1 = [1,2,3,3,3,3,3,4,5,6]
set1 = set(list1)
# we can convert a list into set by just passing the list as an argument

In [ ]:
set1

{1, 2, 3, 4, 5, 6}

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2'],'key4':{'key 4-1':[1,2,3,4,'catch me if u can']}}

In [ ]:
#to get the value 'catch me if you can'
my_dict['key4']['key 4-1'][4].upper()
# Can then even call methods on that value

'CATCH ME IF U CAN'

In [ ]:
# Set the object equal to itself minus 123
my_dict['key1'] -= 123
my_dict['key1']

0

In [ ]:
# Create a new key through assignment
my_dict['animal'] = 'Dog'

In [ ]:
my_dict

{'key1': 0,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'key4': {'key 4-1': [1, 2, 3, 4, 'catch me if u can']},
 'animal': 'Dog'}